Plugins/Discord/plugin/discord-rpc/

Plugins/Discord/propertyInspector/utils/axios.js
Plugins/Discord/propertyInspector/utils/bootstrap-icons.css
Plugins/Discord/propertyInspector/utils/bootstrap.min.css

Plugins/Discord/static/css/sdpi.css
